@tailwind base;
@tailwind components;
@tailwind utilities;
/* breadcrumb stlyes */
.breadcrumb {
  margin-top: 1.75rem;
  height: 50px;
  width: 100%;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255);
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(63 63 70 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 60px rgba(0, 0, 0, 5%);
  --tw-shadow-colored: 0 1px 60px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
:is(.dark .breadcrumb) {
  --tw-bg-opacity: 1;
  background-color: rgb(40 41 61 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255);
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.breadcrumb__item {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 2.5rem;
  padding-left: 1.25rem;
  @apply font-Dana;
}
.breadcrumb__item:first-child {
  padding-right: 2rem;
}
.breadcrumb__item:not(:last-child):before,
.breadcrumb__item:not(:last-child):after {
  position: absolute;
  left: 0px;
  height: 67%;
  width: 5px;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246);
  --tw-content: "";
  content: var(--tw-content);
}
.breadcrumb__item::before {
  bottom: -2px;
  transform: rotate(-35deg);
  transform-origin: bottom;
}
.breadcrumb__item::after {
  top: -2px;
  transform: rotate(35deg);
  transform-origin: top;
}
:is(.dark .breadcrumb__item)::after,
:is(.dark .breadcrumb__item)::before {
  --tw-bg-opacity: 1;
  background-color: rgb(28 28 40);
}
/* course info */
.button-xl {
    @apply font-DanaBold;
    height: 62px;
    -moz-column-gap: 0.625rem;
    column-gap: 0.625rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.button-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(36, 182, 97);
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
}
/* course content */
.course_content p a{
  text-decoration: underline;
  @apply text-sky-400
}
/* course topic dropdown */
.topic-name {
  display: flex;
  height: 3rem;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  --tw-bg-opacity: 1;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
:is(.dark .topic__name--active) {
  --tw-bg-opacity: 1;
  background-color: rgb(74 75 109 );
}
.topic__name--active {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235);
}
.topic-body {
  overflow: hidden;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  max-height: 0px;
}
.topic-body div:not(:last-child){
  @apply border-b-gray-400 border-b dark:border-b-slate-600
}
/*  */
/*  */
/* comment section stlyes */
/*  */
#comment-form{
  visibility: hidden;
  margin-bottom: 0px;
  max-height: 0px;
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  overflow: hidden;
  opacity: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
#comment-form.active{
  visibility: visible;
  margin-bottom: 1.25rem;
  max-height: 100%;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 1;
}
/* comment lists users */
.comment__student-flag {
  height: 1.125rem;
  width: 3.75rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(46 213 115 / var(--tw-bg-opacity));
  font-size: 0.75rem;
  line-height: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
}
:is(.dark .comment__student-flag) {
  background-color: rgb(46 213 115 / 0.1);
  --tw-text-opacity: 1;
  color: rgb(46 213 115 / var(--tw-text-opacity));
}
