@tailwind base;
@tailwind components;
@tailwind utilities;
@media screen and (min-width: 475px) and (max-width: 640px) {
    .container {
      min-width: 475px;
    }
  }
  .hide{
    visibility: hidden;
    opacity: 0;
  }
  .show{
    visibility: visible;
    opacity: 100;
  }