@tailwind base;
@tailwind components;
@tailwind utilities;
/* toggle checkbox */
.toggle{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
.toggle_input{
    position: absolute;
    height: 0px;
    width: 0px;
    opacity: 0;
}
.toggle_marker{
    position: relative;
    display: block;
    height: 1.5rem;
    width: 46px;
    border-radius: 99999px;
    transition-property: color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.toggle_marker::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: .25rem;
    margin-top: auto;
    margin-bottom: auto;
    height: 1rem;
    width: 1rem;
    border-radius: 99999px;
    background-color: #ffffff;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
:is(.dark .toggle_marker)::after {
    --tw-bg-opacity: 1;
    background-color: #32334d;
}
.toggle_input:checked  ~ .toggle_marker{
    background-color: #0EA5E9 ;
}
.toggle_input:checked ~ .toggle_marker::after{
    right: 26px;
}
.toggle_input:checked ~ :is(.dark .toggle_marker){
    background-color: #4E81FB;
}
.toggle_input:checked ~ :is(.dark .toggle_marker)::after{
    background-color: #ffffff;
}
/* sort nav links */
.sort-btn {
    display: inline-block;
    border-radius: 0.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    --tw-text-opacity: 1;
    color: rgb(100 116 139);
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
:is(.dark .sort-btn) {
    --tw-text-opacity: 1;
    color: rgb(119 124 148 );
}
/* active link */
:is(.dark .sort-btn--active) {
    --tw-bg-opacity: 1;
    background-color: rgb(50 51 77 );
    --tw-text-opacity: 1;
    color: rgb(255 255 255);
}
.sort-btn--active {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 );
    @apply font-DanaMedium;
    --tw-text-opacity: 1;
    color: rgb(63 63 70);
}
/* small devices sort by section */
.bottom-sheet {
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 50;
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
/* bottom-sheet is open */
.bottom-sheet--open {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
:is(.dark .bottom-sheet__header) {
    --tw-bg-opacity: 1;
    background-color: rgb(50 51 77 );
}
.bottom-sheet__header {
    display: flex;
    -moz-column-gap: 0.75rem;
    column-gap: 0.75rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 );
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.25rem;
}
.bottom-sheet__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    --tw-text-opacity: 1;
    color: rgb(148 163 184 );
}
:is(.dark .bottom-sheet__name) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 );
}
.bottom-sheet__name {
    @apply font-DanaBold;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(63 63 70 );
}
:is(.dark .bottom-sheet__body) {
    --tw-bg-opacity: 1;
    background-color: rgb(40 41 61 );
}
.bottom-sheet__body {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 );
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
:is(.dark .bottom-sheet__item) {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 );
}
.bottom-sheet__item--selected {
    @apply font-DanaMedium;
    --tw-text-opacity: 1;
    color: rgb(63 63 70 );
}
:is(.dark .bottom-sheet__item--selected) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 );
}
.bottom-sheet__item {
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(100 116 139 );
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
